  <%= form_for @select, url: { action: "add_amounts"} do |f| %>
    
    <div class="row"> 
      <div class="col-lg-12">
        <h1> NSBEmon Training </h1>
      </div>
    </div> 

    <div class="row">
      <div class="col-lg-12">
        <%= check_box_tag 'accept', '1' %>
        <%= label_tag "Accept" %>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <%= f.submit "Log Training" %>
      </div>
    </div>
  
  <% end %>
