<div class='row'>
  <div class='col-lg-12'>
    <div class='container'>
     <iframe class="youtube-player" type="text/html" 
       src="http://www.youtube.com/embed/UpMRWVYVXAw?rel=0&start=159&end=333"   
       allowfullscreen frameborder="0">
     </iframe>
    </div>
  </div>
</div>
