<div class="row" style="margin-top: 15px; ">
  <div class="container">
    <div class="col-lg-6">
      <%= image_tag("epicredteam.jpg", class: 'featurette-image img-responsive pictureWrapper') %>
    </div>
    <div class="col-lg-6">
      <h1> Team: <%= link_to team.name, team %> </h1>
      <h2> <%= team.description %> </h2>
    </div>

  </div>
</div>

<hr>