  <% @users.each do |user| %>
    <tr>
        <td>
          User email: <%= user.email %>
          User experience: <%= user.experience %>
          User First Name: <%= user.profile.first_name %>
        </td>
    </tr>
  <% end %>
</div>