<% @users.each do |user| %>
    <tr>
      <th> User email: <%= user.email %> </th>
      <th> User experience: <%= user.experience %> </th>
      <th> User First Name: <%= user.profile.first_name %> </th>
    </tr>
    <tr>
      <% user.record.each do |r| %>
        <% r.checked_boxes.each do |box| %>
          <%= box %>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</div>