// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pictureWrapper.poketrainer {
    background-image: image-url("poketrainers.png");
    background-position: center;  
    background-size: 200px 200px; 
}